* {
  /* border: 1px solid hotpink;
  background-color: #39487f; */
}

/*background images*/
.main-img  {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  margin: auto 0;
  text-align: center;
  justify-content: center;
}
  .title {
    height: 20%;
    width: 90%;
    margin: auto 0;
    text-align: center;
    color: black;
    padding-top: 6%;
    padding-bottom: 6%;
    background: rgba(255,255,255,0.45);
}
h1,h2,h5 {
  font-family: 'Anton', sans-serif;
}
#output, #askBtn, #askAgain {
  font-size: 20rem bold black;
  font-family: 'Anton', sans-serif;
}

#overlay {
            visibility: hidden;
            position:absolute;
            left:0;
            right:0;
            top:4%;
            margin-left:auto;
            margin-right:auto;
            width:60%;
            height:27%;
            background-color:#ddd;
            border:1px solid black;
            z-index:1000;
            text-align: center;
        }
