* {
  /* border: 1px solid hotpink;
  background-color: #39487f; */
}

/*background images*/
.main-img  {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  margin: auto 0;
  text-align: center;
  justify-content: center;
}

.title {
  margin: auto 0;
  text-align: center;
  /* position: relative; */
  /* background-color:  */
  /* opacity: 0.5; */
  color: black;
  padding-top: 35%;
  padding-bottom: 35%;
  /* position: absolute; */
  background: rgba(255,255,255,0.45);
}
