* {
  /* border: 1px solid hotpink;
  background-color: #39487f; */
}

/*background images*/
.main-img  {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  margin: auto 0;
  text-align: center;
  justify-content: center;
}
  .title {
    height: 100%;
    width: 100%;
    margin: auto 0;
    text-align: center;
    color: black;
    padding-top: 32%;
    padding-bottom: 32%;
    background: rgba(255,255,255,0.45);
}
